/* Add the decaration on top */
@font-face {
    font-family: 'berlin';
    src: url('asset/fonts/berlin.TTF') format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'berlin';
}

.blank {
    height: 100vh;
}

.textbox {
    width: 70%;
    position: absolute;
}



/* FOR big Screen */
@media all and (min-width: 1280px) {

    .bg {
        background-image: url('./asset/big_land_bg.jpg');
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 180vh;
    }

    .logoRed {
        left: 4%;
        top: 2%;
        position: fixed;
        width: 10%;
    }

    .logo {
        top: -25px;
        right: -40px;
        position: fixed;
        width: 10%;
    }

    .cover {
        background-color: #fff;
        width: 70%;
        padding: 10px;
        margin: auto;
        border-radius: 15px;
    }

    .cover h1 {
        text-align: center;
        color: #262e6b;
    }

    .cover p {
        font-size: 2vh;
        color: #262e6b;
    }
}

/* FOR Laptop */
@media all and (min-width: 1024px) and (max-width: 1280px) {

    .bg {
        background-image: url('./asset/no_logo_land.jpg');
        position: relative;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 185vh;
    }

    .logoRed {
        left: 4%;
        top: 2%;
        position: fixed;
        width: 10%;
    }

    .logo {
        top: -15px;
        right: -30px;
        position: fixed;
        width: 10%;
    }

    .cover {
        background-color: #fff;
        width: 70%;
        padding: 10px;
        margin: auto;
        border-radius: 15px;
    }

    .cover h1 {
        text-align: center;
        font-size: 1.5em;
        color: #262e6b;
    }

    .cover p {
        font-size: 1rem;
        color: #262e6b;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .bg {
        background-image: url('./asset/big_stand_bg.jpg');
        position: relative;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 190vh;
    }

    .logoRed {
        left: 4%;
        top: 2%;
        position: fixed;
        width: 15%;
    }

    .logo {
        top: -15px;
        right: -20px;
        position: fixed;
        width: 15%;
    }

    .cover {
        background-color: #fff;
        width: 70%;
        padding: 10px;
        margin: auto;
        border-radius: 15px;
    }

    .cover h1 {
        text-align: center;
        font-size: 1.5em;
        color: #262e6b;
    }

    .cover p {
        font-size: 1rem;
        color: #262e6b;
    }
}

@media (max-width: 767px) {
    .bg {
        background-image: url('./asset/stand_bg.jpg');
        position: relative;
        /* background-size: cover; */
        background-repeat: no-repeat;
        height: 190vh;
        width: 100vw;
        background-size: 100% auto;
        background-attachment: fixed;
    }

    .logoRed {
        left: 4%;
        top: 15px;
        position: fixed;
        width: 20%;
    }

    .logo {
        top: -10px;
        right: -15px;
        position: fixed;
        width: 20%;
    }

    .cover {
        background-color: #fff;
        width: 80%;
        padding: 10px;
        margin: auto;
        border-radius: 15px;
    }

    .cover h1 {
        text-align: center;
        font-size: 1em;
        color: #262e6b;
    }

    .cover p {
        font-size: 0.7rem;
        color: #262e6b;
    }
}

/* 

@media (min-width: 1024px) {
    .bg {
        background-image: url('./asset/land_bg.jpg');
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1024px) {
    .bg {
        background-image: url('./asset/stand_bg.jpg');
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .bg {
        background-image: url('./asset/stand_bg.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        font-family: 'berlin';
        font-size: 1.5em;
        color: white;
        border-radius: 15px;
        margin: auto;
        margin-top: 20px;
    }

    h1 {
        font-size: 1em;
    }

    p {
        font-size: 12px;
    }
} */